
<div class="ace-exercise-card">
  <div><%= exercise[:name] %></div>
  <div><%= exercise[:short_desc] %></div>
  <div>Difficulty: <%= exercise[:difficulty] %></div>
  <div><%= image_tag exercise[:image] %></div>
  <%= link_to "Add Exercise", exercises_path(exercise: {name: exercise[:name], description: exercise[:long_desc], difficulty: exercise[:difficulty]}), method: :post %> |
  <a href="<%= exercise[:link] %>">Details</a>
</div>

