<div class="container">
<h1>CircuitKing</h1>

<div class="workout-now-button text-center">
  <%= link_to "Workout Now", circuit_workout_path(Circuit.last), class: "btn" %>
</div>

<div class="create-your-own-workout">
  <h3>Create Your Own Circuit</h3>
  <div class="exercise-selection-area">
    This is where
    <ul>
    <% @exercises.each do |exercise| %>
      <li><strong><%= link_to exercise.name, exercise_path(exercise) %></strong></li>
    <% end %>
      <li>there</li>
      <li>will be a list</li>
      <li>of exercises to add</li>
    </ul>
    <%= link_to "Add new Exercise", new_exercise_path %>
  </div>
</div>

<div class="popular-workouts">
  <h2>Popular Workouts</h2>
    <% @circuits.each do |circuit| %>
      <h3><%= circuit.name  %></h3>
      <% circuit.exercises.each do |e| %>
      <%= e.name %>
    <% end %>
  <% end %>
</div>
</div>
