<div class="container">
<h1>CircuitKing</h1>

<div class="workout-now-button text-center">
  <%= link_to "Workout Now", circuit_workout_path(Circuit.last), class: "btn" %>
</div>

<div class="create-your-own-workout">
  <h3>Create Your Own Circuit</h3>
  <div class="row">
    <div class="col-sm-6">
      <div class="exercise-selection-area">
        Click on Exercises you'd like to add to your circuit:
        <ul>
        <% @exercises.each do |exercise| %>
          <li class="homepage-exercise-item" id=<%= "exercise" + exercise.id.to_s %>><%= link_to exercise.name, exercise_path(exercise) %><i class="fas fa-plus"></i></li>
        <% end %>
        </ul>
        <%= link_to "Add new Exercise", new_exercise_path %>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="selected-exercises-area">
        Selected Exercises
        <ul class="selected-exercises-list">

        </ul>
      </div>
    </div>
  </div>
</div>

<div class="popular-workouts">
  <h2>Popular Workouts</h2>
    <% @circuits.each do |circuit| %>
      <h3><%= circuit.name  %></h3>
      <% circuit.exercises.each do |e| %>
      <%= e.name %>
    <% end %>
  <% end %>
</div>
</div>
