<%= render 'shared/banner' %>
<div class="container">
<h1>CircuitKing</h1>

<div class="workout-now-button text-center">
  <%= link_to "Workout Now", circuit_workout_path(Circuit.last), class: "button-large" %>
</div>

<div class="create-your-own-workout">
  <h3>Create Your Own Circuit</h3>
  <div class="row">
    <div class="col-sm-4">
      <div class="exercise-selection-area">
        Click on Exercises you'd like to add to your circuit:
        <ul class="unselected-exercises-list">
        <% @exercises.each do |exercise| %>
          <li class="homepage-exercise-item" id=<%= "exercise" + exercise.id.to_s %>><%= link_to exercise.name, exercise_path(exercise) %> <i class="fas fa-plus"></i></li>
        <% end %>
        </ul>
        <%= link_to "Add new Exercise", new_exercise_path %> |
        <%= link_to "Add from database", search_ace_path %>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="selected-exercises-area">
        Selected Exercises
        <ul class="selected-exercises-list">

        </ul>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="create-circuit-button">
        Name your Circuit
        <%= simple_form_for @circuit, method: :post do |f| %>
        <%= f.input :name %>
        <div class="exercises-check-boxes">
          <%= f.input :exercises, as: :check_boxes, collection: Exercise.all %>
        </div>
        <%= f.submit %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="popular-workouts">
  <h2>Popular Workouts</h2>
  <div class="row">
    <% @circuits.each do |circuit| %>
      <div class="col-sm-12 col-md-6 col-lg-4">
      <%= render 'shared/circuit-card', circuit: circuit %>
      </div>
    <% end %>
  </div>
</div>
</div>
